  
/* Date of Creation: 10/19/18
   Author: Michael Radey
   Description: This file contains the design of the calculator.html page.  */
  #calculator{
      width:50%;
      margin: auto;
      border: 2px solid black;
      position: relative;
      top: 40px;
      background: #b3b3b3;
    }
    #display{
      text-align: right;
      width:90%;
      margin: auto;
      margin-top: 10px;
      padding: 5px;
      background: white;
      font-size: 25px;
    }
    #buttons{
      width:90%;
      margin: auto;
      margin-top: 10px;
      padding: 5px;
      margin-bottom: 10px;
    }
    #numberButton{
      width:100%;
      min-height:50px; 
      font-size: 15px;
      cursor: pointer;
      color: #b3b3b3;
      background-color: white;
    }
    #numberButton:hover {
    background-color: grey; 
    }
    #numberButton:active {
      background-color: black;
      color:white;
    }
    table { 
      width: 100%;
      height: 100%; 
    }